<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VPN Service</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <h1>VPN Service</h1>
    <form id="credentials-form">
        <label for="ovpn_provider">OVPN Provider:</label>
        <select id="ovpn_provider" name="ovpn_provider">
            {% for ovpn_provider in ovpn_providers %}
                <option value="{{ ovpn_provider }}">{{ ovpn_provider }}</option>
            {% endfor %}
        </select><br><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <label for="ovpn_file">OVPN File:</label>
        <select id="ovpn_file" name="ovpn_file">
            {% for ovpn_file in ovpn_files %}
                <option value="{{ ovpn_file }}">{{ ovpn_file }}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit">Submit</button>
    </form>
    <div id="message"></div>
    <h2>VPN Health</h2>
    <label for="status">VPN is:</label>
    <span id="status" data-status="{{ status }}">{{ status }}</span>

    <h3>Docker Containers</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>IP Address</th>
            <th>Actions</th>
        </tr>
        {% for container in docker_containers %}
        <tr>
            <td>{{ container[0] }}</td>
            <td>{{ container[1] }}</td>
            <td data-status="{{ container[2] }}">{{ container[2] }}</td>
            <td>{{ container[3] }}</td>
            <td><button class="connect-btn">Connect</button></td>
        </tr>
        {% endfor %}
    </table>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
